 <section class="card">
        <header>{{post.title}}</header>
        <p>{{post.description}}</p>
        <button class="btn btn-primary" id="updateBlog" type="submit">Update Blog</button>
        <button class="btn btn-primary" id="deleteBlog" type="submit">Delete Blog</button>
    </section>

{{#each comments}}
  <p>{{this.comment}}</p>
{{/each}}

    <div class="row justify-space-between-md">
  <div id="signin" class="blog-card">
    <h2 class="page-title">New Comment</h2>
    <form class="form comment-form">
      <div class="form-group">
        <label for="password-login">Comment:</label>
        <input class="form-input" type="text" id="comment"/>
      </div>
      <div class="form-group">
        <button class="btn btn-primary" id="createComment" type="submit">Create Comment</button>
      </div>
    </form>
  </div>

<script src="/js/comment.js"></script>