<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Tech Blog</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="stylesheet" type="text/css" href="/css/jass.css">
</head>

<body>
  <header>
    <h1 id="title">The Tech Blog</h1>
    <nav id="nav">
      <a href="/" class="bordered-link">Home</a>
      <a href="/dashboard" class="bordered-link">Dashboard</a>
      {{#if loggedIn}}
      <button id="logout" class="btn-no-style">Logout</button>
      {{else}}
      <a href="/login" class="bordered-link">Login</a>
      {{/if}}
    </nav>
  </header>
  <main>
    <div>
      {{{body}}}
    </div>
  </main>
  {{#if loggedIn}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>