{{#each posts as |post|}}
    <section class="card" id="postStyle">
        <a href="post-by-id/{{post.id}}"  id="postTitle">
        <header>{{post.title}}</header>
        </a>
    </section>
{{/each}}

